    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.Parent{
    background-image: url(images/aman\ netflix\ bgi.jpg);  
    width: 100vw;
    height: 110vh;  
    background-position: top center ;
    position: relative;
    background-size: cover;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.44);
    height: 110vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.logo img{
    width: 150px;
    margin-left : 120px;
    margin-top : 25px;
    position: relative;
    padding: 0%;
    
}

.form-container{
    background-color:rgba(0, 0, 0, 0.729);
    width: 470px;
    margin: auto;
    padding: 60px;
    border-radius: 4px;
    margin-top: 20px;
    position: relative;
    padding-bottom: 100px;
}
.form-container h1{
    color: #fff;
    padding-bottom: 16px;
}
.form{
    margin-top: 30px;
}
form .name-password input{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.543);
    border: none;
    padding: 10px;
    border : 1px solid #636161;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    color: #757575;
    font-weight: 700;

}
.button input{
    width: 100%;
    background-color: #c11119;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;

}
.button div{
    text-align: center;
    color: #ffffffb3;
    margin: 15px 0;

}
.button button{
    width: 100%;
    color: #fff;
    background-color: #ffffff38;
    padding: 15px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
.fp-link{
    text-align: center;
    margin: 15px 0;
}
.checkbox label{
    color: #fff;
    margin: 10px;

}
.new-account{
    margin top: 15px;

}
.new-account span{

    color: #ffffffb3;

}
.new-account a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.para p{
    color: #ffffff80;
    margin-bottom: 10px;

}
.para a{
    color: #448ef4;
    font-size: 13px;

}
